extends layout

block content
  h1= title

  if user
    p Welcome #{user} to #{title}

    div
      a(href="/regions/") Regions
    div
      a(href="/itemgroups/") Item Groups
    div
      a(href="/logout/") Logout
    div
      a(href="/market/") Market

  else
    p Welcome to #{title}
    p Weather at #{location} is: #{weather}

    a(href='eve/login')
      img(src="images/EVELogin.png")
